-- Example 0
3
JOHN
PETR
ACRUSH

3
JOHN
ACRUSH
PETR
-- Example 1
2
GLUK
MARGARITKA

2
MARGARITKA
GLUK
-- Example 2
13
JOHN
A
AA
AAA
JOHN
B
BB
BBB
JOHN
C
CC
CCC
JOHN

13
JOHN
JOHN
JOHN
JOHN
CCC
BBB
CC
BB
AAA
C
AA
B
A
-- Example 3
4
BATMAN
SUPERMAN
SPIDERMAN
TERMINATOR

4
TERMINATOR
SUPERMAN
SPIDERMAN
BATMAN
