-- Example 0
5
MasterOfDisaster
DingBat
Orpheus
WolfMan
MrKnowItAll
TygerTyger

TygerTyger
-- Example 1
7
MasterOfDisaster
TygerTyger1
DingBat
Orpheus
TygerTyger
WolfMan
MrKnowItAll
TygerTyger

TygerTyger2
-- Example 2
7
TygerTyger2000
TygerTyger1
MasterDisaster
DingBat
Orpheus
WolfMan
MrKnowItAll
TygerTyger

TygerTyger
-- Example 3
8
grokster2
BrownEyedBoy
Yoop
BlueEyedGirl
grokster
Elemental
NightShade
Grokster1
grokster

grokster1
-- Example 4
16
Bart4
Bart5
Bart6
Bart7
Bart8
Bart9
Bart10
Lisa
Marge
Homer
Bart
Bart1
Bart2
Bart3
Bart11
Bart12
Bart

Bart13
