-- Example 0
BW
6
AAAAAAAA
ABWBWBWA
AWBWBWBA
ABWBWBWA
AWBWBWBA
AAAAAAAA

24
-- Example 1
BW
6
BBBBBBBB
BBWBWBWB
BWBWBWBB
BBWBWBWB
BWBWBWBB
BBBBBBBB

48
-- Example 2
ACEGIKMOQSUWY
6
ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWX
ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWX
ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWX
ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWX
ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWX
ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWX

150
-- Example 3
CA
3
BBBBBBB
BBBBBBB
BBBBBBB

0
-- Example 4
DCBA
1
ACBD

4
