-- Example 0
AAA

3
-- Example 1
AAABBBBAA

4
-- Example 2
BBAABBAABBAABBAA

2
-- Example 3
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

50
-- Example 4
AAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAA

25
