-- Example 0
2
O ---
S ...
... --- ...

SOS
-- Example 1
1
O ---
... --- ...

?O?
-- Example 2
5
H -
E .
L --
L ..
O -.
- . -- .. -.

HELLO
-- Example 3
4
H -.-.-.-.-.-.-.-.-.-.
I .-.-.-.-.-.-.-.-.-.-
K -.-.-.-.-.
E .-.-.-.-.-
-.-.-.-.-.-.-.-.-.-. .-.-.-.-.-.-.-.-.-.-

HI
-- Example 4
9
O ---
S ...
B -...
T -
R .-.
E .
N -.
X -..-
D -..
-... --- ... - --- -. .-. . -.. ... --- -..-

BOSTONREDSOX
-- Example 5
8
B -...
N -.
H ....
O --
Z --..
G ---
I ..
J .---
--- -- -... .- -. .- -. .-

GOB?N?N?
-- Example 6
5
A --
B -.
N ...-
I --..
F -.-.-.
-. -- -.-.-. -.-.-. --- --.. ...- .-..--.

BAFF?IN?
