-- Example 0
2
A RED
B BLUE
1
A SPLATTERED B

4
RED 1
  A 1
BLUE -1
  B -1
-- Example 1
5
LISA RED
BART RED
HOMER BLUE
MARGE BLUE
MAGGIE GREEN
2
MAGGIE SPLATTERED HOMER
MAGGIE SPLATTERED MARGE

8
GREEN 2
  MAGGIE 2
RED 0
  BART 0
  LISA 0
BLUE -2
  HOMER -1
  MARGE -1
-- Example 2
6
TODD STRIKEFORCE
BART OMEGA
DATA STRIKEFORCE
MILHOUSE OMEGA
NELSON DISCOVERYCHANNEL
MARTIN DISCOVERYCHANNEL
2
BART SPLATTERED MARTIN
TODD SPLATTERED MARTIN

9
OMEGA 1
  BART 1
  MILHOUSE 0
STRIKEFORCE 1
  TODD 1
  DATA 0
DISCOVERYCHANNEL -2
  NELSON 0
  MARTIN -2
-- Example 3
3
DR COHO
ST COHO
PE COHO
2
DR SPLATTERED ST
ST SPLATTERED PE

4
COHO -2
  PE 0
  DR -1
  ST -1
-- Example 4
3
A B
AA AA
AAA AAA
5
A SPLATTERED AAA
A SPLATTERED AAA
A SPLATTERED AAA
AA SPLATTERED AAA
AA SPLATTERED AAA

6
B 3
  A 3
AA 2
  AA 2
AAA -5
  AAA -5
